mongo_uri=mongodb://admin:password@localhost:27017/rent_a_ride?authSource=admin

JWT_ACCESS_SECRET=your_access_token_secret
JWT_REFRESH_SECRET=your_refresh_token_secret

RAZORPAY_KEY_ID=your_razorpay_key
RAZORPAY_SECRET=your_razorpay_secret

EMAIL_HOST=your_email_host
EMAIL_PASSWORD=your_email_password

CLOUD_NAME=your_cloudinary_name
API_KEY=your_cloudinary_key
API_SECRET=your_cloudinary_secret
